.bank-layout {
  display: flex;
  flex-direction: row;
}

.bank-layout button {
  cursor: pointer;
  background-color: var(--bg);
  color: white;
  border: 0;
  padding: 0.5em 1.5vw;
  opacity: 0.5;

  &:hover {
    background-color: var(--bg-sec);
    opacity: 1;
  }

  &:active {
    transform: scale(0.85);
  }

  transition: all 0.5ms;
}

.active-bank {
  background-color: var(--bg-sec) !important;
}

/* mobile */
@media only screen and (max-width: 800px) {
  .bank-layout {
    flex-direction: row;
  }

  .bank-layout button {
    padding: 0.75em 1em;
    /* font-size: large; */
  }
}

