.grid-layout {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 2vw);
  grid-auto-rows: 2vw;
  gap: 0.25rem;
}

.grid-hidden {
  display: none;
}

#toolbar-container {
  position: absolute;
  top: 105%;

}

#layer-container {
  position: absolute;
  left: -12.5%;
}

#bank-container {
  position: absolute;
  bottom: 105%;
}

#statusbar-container {
  position: absolute;
  bottom: 105%;
  color: white;
}

/* mobile */
@media only screen and (max-width: 800px) {
  .grid {
    gap: 0.1em;
    grid-template-columns: repeat(16, 5.5vw);
    grid-auto-rows: 5.5vw;
  }

  #layer-container {
    left: auto;
    bottom: -35%;
  }
}
