extends layout

block content
  h1= title
  h3= 'minor pentatonic'
  
  div(id='grid')
    - var i = 0, j = 0, count = 0;
    while i < 16
      - j = 0
      while j < 16
        button(id="note" + count)= count
        - count++;
        - j++
      - i++