doctype html
html
  head
    title= title
    script(src='https://code.jquery.com/jquery-3.6.3.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='javascripts/main.js')
