:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menuButton {
  position: absolute;
  background-color: #00000099;
  color: var(--foreground);
  border-style: solid;
  border-radius: 5px;
  border-width: 0.1em;
  border-color: #2f2f2f00;
  padding: 0.75em 0.75em 0.75em 0.75em;
  opacity: 15%;
  transition: opacity 0.3s;
  z-index: 100;
}

#menuButton:hover {
  opacity: 100%;
  cursor: pointer;
}

#menu {
  position: absolute;
  width: 25em;
  height: 10em;
  color: var(--foreground);
  background-color: var(--background);
  border-style: solid;
  margin-top: 2.75em;
  padding: 0px 0px 0px 0px;
  border-width: 0.1em;
  border-color: #2f2f2f;
  z-index: 95;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#grid {
  align-items: center;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(16, 1em);
  gap: 1em;
  grid-auto-rows: minmax(1em, 1em);
  max-width: 25em;
}

#grid button {
  text-align: right;
  height: 2em;
  width: 2em;
  color:white;
  background-color: var(--background);
  border-color: #2f2f2f;
  
  border-style: solid;
}

#grid button:hover {
  background-color: #2f2f2f;
}

.live {
  background-color: var(--foreground) !important;
  border-color: #ffffff !important;
}

.live:hover {
  background-color: #dfdfdf !important;
}

.playing {
  border-color: #4f4f4f !important;
}

.live.playing {
  border-color: #2f2f2f !important;
  border-width: 5px;
}

.ctrlbutton {
  height: 2em;
  width: 5em;
}