:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font: 'VT323', monospace; */
}

a {
  color: #00B7FF;
}

#menuButton {
  position: absolute;
  background-color: #00000000;
  color: var(--foreground);
  border-style: none;
  padding: 0.75em 0.75em 0.75em 0.75em;
  opacity: 15%;
  transition: opacity 0.3s;
  z-index: 100;
}

#menuButton:hover {
  opacity: 100%;
  cursor: pointer;
}

#menu {
  font-family: 'DotGothic16', monospace !important;
  position: absolute;
  width: 25em;
  color: var(--foreground);
  background-color: #000000aa;
  border-style: solid;
  margin-top: 2.75em;
  padding: 0px 20px 20px 20px;
  border-width: 0.1em;
  border-color: #2f2f2f;
  border-radius: 5px;
  z-index: 95;
  overflow: auto;
}

#loadtext {
  font-family: 'DotGothic16', monospace !important;
  background-color: #000000;
  border-color: #2f2f2f;
  border-style: solid;
  border-radius: 5px;
  color: var(--foreground);
}

#loadbutton {
  font-family: 'DotGothic16', monospace !important;
  background-color: #1f1f1f;
  border-color: #5f5f5f;
  border-style: solid;
  border-radius: 5px;
  color: var(--foreground);
}

#volume {
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #2f2f2f;
  outline: none;
  opacity: 0.7;
}

#volume::-webkit-slider-thumb {
  appearance: none;
  background: #5f5f5f;
  cursor: pointer;
  border-radius: 0px;
  border-color: #00000000;
}

#volume::-moz-range-thumb {
  background: #5f5f5f;
  cursor: pointer;
  border-radius: 0px;
  border-color: #00000000;
}


#main {
  /*todo: maybe fix centering, for some reason its literally off by like 10 pixels idk why*/
  position: absolute;
  top: 50%;
  left: 51%;
  margin-right: -20%;
  transform: translate(-50%, -50%);
}

.gridstyle {
  align-items: center;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(16, 1em);
  gap: 1em;
  grid-auto-rows: minmax(1em, 1em);
  max-width: 25em;
}

.gridstylehidden {
  display: none;
}

.gridstyle button {
  font-family: 'DotGothic16', monospace !important;
  text-align: right;
  height: 2em;
  width: 2em;
  color:black;
  background-color: var(--background);
  border-color: #2f2f2f;
  border-style: solid;
  /* this adds a bit of cpu time idk if its worth it but it makes it feel slightly nicer */
  transition: all 0.2s;
}

.gridstyle button:hover {
  background-color: #2f2f2f;
}

.live {
  background-color: var(--foreground) !important;
  background-repeat: no-repeat;
  background-position: center;
  border-color: #ffffff !important;
}

.live:hover {
  background-color: #dfdfdf !important;
}

.squareTile {
  background-image: url('../assets/icons/black/square.png');
}
.sineTile {
  background-image: url('../assets/icons/black/sine.png');
}
.triangleTile {
  background-image: url('../assets/icons/black/triangle.png');
}
.sawtoothTile {
  background-image: url('../assets/icons/black/sawtooth.png');
}

.playing {
  border-color: #4f4f4f !important;
  background-size: 1em !important;
}

.live.playing {
  border-color: #2f2f2f !important;
  border-width: 2px;
}

#controls {
  margin-top: 1.5em;
  text-align: center;
}

#controls button {
  background-color: var(--background);
  color: var(--foreground);
  border-style: none;
  padding: 0.75em 2.75em 0.75em 2.75em;
  opacity: 15%;
  transition: opacity 0.3s;
}

#controls ion-icon {
  font-size: 1.5em;
  -webkit-text-stroke: 0.5px white;
}

#controls #waveforms {
  font-family: 'DotGothic16', monospace !important;
  background-image: url('../assets/icons/white/square.png');
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff00;
  text-align: right;
}

#controls button:hover {
  opacity: 100%;
  cursor: pointer;
}

#tabs {
  padding: 2em;
  text-align: center;
}

.tabbutton {
  font-family: 'DotGothic16', monospace !important;
  text-align: center;
  background-color: #0f0f0f;
  color: var(--foreground);
  border-color: #1f1f1f00;
  height: 2em;
  width: 5em;
  opacity: 50%;
  transition: opacity 0.3s;
}

.tabbutton:hover {
  opacity: 100%;
  cursor: pointer;
}

/* sorry */
.activetab {
  background-color: #1f1f1f !important;
}

.emptytab {
  background-color: #000000;
}

.activelayer {
  background-color: #1f1f1f !important;
}

.emptylayer {
  background-color: #000000 !important;
}

#layers {
  top: 50%;
  left: -20%;
  /*margin-right: -20%;*/
  transform: translate(-50%, -50%);
  align-items: center;
  display: grid;
  position: absolute;
  justify-content: left;
  align-content: center;
  gap: 0em;

}

.layerbutton {
  font-family: 'DotGothic16', monospace !important;
  text-align: center;
  color: var(--foreground);
  border-color: #1f1f1f00;
  height: 5em;
  opacity: 50%;
  transition: all 0.3s;
  background-color: #0f0f0f;
}

.layerbutton:hover {
  opacity: 100%;
  cursor: pointer;
}

.layerlit {
  background-color: var(--foreground) !important;
  color: var(--background);
}

.notification {
  font-family: 'DotGothic16', monospace !important;
  font-size: 1em;
  position: absolute;
  right: 0;
  border-radius: 5px;
  background-color: rgba(139, 0, 0, 0.473);
  color: var(--foreground);
  margin-right: 3.5em;
  padding: 0.5em 1.75em 0.5em 1.75em;
  transition: background-color 0.3s;
  z-index: 100;
}

.notification:hover {
  background-color: rgba(139, 0, 0, 1);
  cursor: pointer;
}
