#toolbar {
  display: flex;
  gap: 0.5em;
}

#toolbar button {
  cursor: pointer;
  justify-content: center;
  display: flex;
  width: 5rem;
  padding: 1em;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: white;

  opacity: 15%;

  &:hover {
    opacity: 100%;
  }

  &:active {
    transform: scale(0.85);
  }

  /* styling for the waveforms button */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28%;

  /* transition: all 0.25s; */
}

.square {
  background-image: url('../../assets/icons/white/square.svg');
}

.sine {
  background-image: url('../../assets/icons/white/sine.svg');
}

.triangle {
  background-image: url('../../assets/icons/white/triangle.svg');
}

.sawtooth {
  background-image: url('../../assets/icons/white/sawtooth.svg');
}
