body, html {
  margin: 0;
}

#grid-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

#loading-container {
  font-size: x-large;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    padding: 1em;
  }

  p {
    margin: 0;
  }
}

/* mobile */
@media only screen and (max-width: 800px) {
  #grid-container {
    padding: 0;
    gap: 0px;
  }
}
