@font-face {
  font-family: 'Kubasta';
  src: url('./assets/fonts/Kubasta.ttf');
}

:root {
  color: white;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Kubasta';

}
