@font-face {
  font-family: 'Kubasta';
  src: url('./assets/fonts/Kubasta.ttf');
}

html, :root {
  --bg: #000000;
  --bg-sec: #2f2f2f;
  --fg: #ffffff

  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Kubasta';
}
